@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,800;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    color: rgb(32, 32, 32);
    font-size: 16px;
}
.cstmContainer{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.cstmCard{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cstmCard-body{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
ul{
    display: flex !important;
    align-items: center;
}

 ul li{
    list-style: none;
    padding: 5px 10px;
    border-radius: 3px;
  
}
ul li:hover{
    background-color: rgb(172, 168, 168);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all .3s ease;
}
a{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.fs1{
    font-size: 5rem;
} 
.fs2{
    font-size: 4rem;
}  
.fs3{
    font-size: 3rem;
} 
.fs4{
    font-size: 2rem;
} 
.fs5{
    font-size: 1rem;
} 
.fs6{
    font-size: .9rem;
} 
.icon{
    padding: 10px;
    border-radius: 20px;
}